<table cellspacing="0" cellpadding="0" class="arc_11_base_widget_1 arc_18_CollectionGUI_FacetsAndFilters" style="height: 687px;">
	<tbody>
		<tr>
			<td align="left" style="vertical-align: top;">
				<table cellspacing="0" cellpadding="0" class="arc_11_base_widget_1">
					<tbody>
						<tr>
							<td align="left" style="vertical-align: top;">
								<table cellspacing="0" cellpadding="0" class="arc_11_base_widget_1 arc_124_FilterGroupGUI">
									<tbody>
										<tr>
											<td align="left" style="vertical-align: top;">
												<div class="arc_11_base_widget_1 arc_125_FilterGroupGUI_FilterGroupLabel" style="cursor: default;">Format:</div>
											</td>
										</tr>
										<tr>
											<td align="left" style="vertical-align: top;">
												<div class="arc_11_base_widget_1 arc_12_SimplePanel" style="width: 1px; height: 5px;"></div>
											</td>
										</tr>
										<tr>
											<td align="left" style="vertical-align: top;">
												<table cellspacing="0" cellpadding="0" class="arc_11_base_widget_1" style="margin-left: 5px;">
													<tbody>
														<tr>
															<td align="left" style="vertical-align: top;">
																<table cellspacing="0" cellpadding="0" class="arc_11_base_widget_1 arc_116_FontAwesomeIcon arc_126_CheckBox" style="height: 15px;">
																	<tbody>
																		<tr>
																			<td align="left" style="vertical-align: top;">
																				<div class="arc_11_base_widget_1 arc_127_CheckBox_ContainingDiv" style="cursor: default; width: 15px;">
																					<div class="fa fa-square-o fa-fw" style="cursor: default; text-align: left; width: 15px; font-size: 15px; height: 15px;"></div>
																				</div>
																			</td>
																			<td align="left" style="vertical-align: middle;">
																				<div class="gwt-Label arc_11_base_widget_1 arc_128_Label" style="width: 100%; height: 100%; white-space: normal; word-wrap: break-word;">Short Haired</div>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr>
															<td align="left" style="vertical-align: top;">
																<div class="arc_11_base_widget_1 arc_12_SimplePanel" style="width: 1px; height: 4px;"></div>
															</td>
														</tr>
														<tr>
															<td align="left" style="vertical-align: top;">
																<table cellspacing="0" cellpadding="0" class="arc_11_base_widget_1 arc_116_FontAwesomeIcon arc_126_CheckBox" style="height: 15px;">
																	<tbody>
																		<tr>
																			<td align="left" style="vertical-align: top;">
																				<div class="arc_11_base_widget_1 arc_127_CheckBox_ContainingDiv" style="cursor: default; width: 15px;">
																					<div class="fa fa-square-o fa-fw" style="cursor: default; text-align: left; width: 15px; font-size: 15px; height: 15px;"></div>
																				</div>
																			</td>
																			<td align="left" style="vertical-align: middle;">
																				<div class="gwt-Label arc_11_base_widget_1 arc_128_Label" style="width: 100%; height: 100%; white-space: normal; word-wrap: break-word;">Medium Hair</div>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr>
															<td align="left" style="vertical-align: top;">
																<div class="arc_11_base_widget_1 arc_12_SimplePanel" style="width: 1px; height: 4px;"></div>
															</td>
														</tr>
														<tr>
															<td align="left" style="vertical-align: top;">
																<table cellspacing="0" cellpadding="0" class="arc_11_base_widget_1 arc_116_FontAwesomeIcon arc_126_CheckBox" style="height: 15px;">
																	<tbody>
																		<tr>
																			<td align="left" style="vertical-align: top;">
																				<div class="arc_11_base_widget_1 arc_127_CheckBox_ContainingDiv" style="cursor: default; width: 15px;">
																					<div class="fa fa-square-o fa-fw" style="cursor: default; text-align: left; width: 15px; font-size: 15px; height: 15px;"></div>
																				</div>
																			</td>
																			<td align="left" style="vertical-align: middle;">
																				<div class="gwt-Label arc_11_base_widget_1 arc_128_Label" style="width: 100%; height: 100%; white-space: normal; word-wrap: break-word;">Long Haired</div>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr>
															<td align="left" style="vertical-align: top;">
																<div class="arc_11_base_widget_1 arc_12_SimplePanel" style="width: 1px; height: 4px;"></div>
															</td>
														</tr>
														<tr>
															<td align="left" style="vertical-align: top;">
																<table cellspacing="0" cellpadding="0" class="arc_11_base_widget_1 arc_116_FontAwesomeIcon arc_126_CheckBox" style="height: 15px;">
																	<tbody>
																		<tr>
																			<td align="left" style="vertical-align: top;">
																				<div class="arc_11_base_widget_1 arc_127_CheckBox_ContainingDiv" style="cursor: default; width: 15px;">
																					<div class="fa fa-square-o fa-fw" style="cursor: default; text-align: left; width: 15px; font-size: 15px; height: 15px;"></div>
																				</div>
																			</td>
																			<td align="left" style="vertical-align: middle;">
																				<div class="gwt-Label arc_11_base_widget_1 arc_128_Label" style="width: 100%; height: 100%; white-space: normal; word-wrap: break-word;">Hairless</div>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>