<tr>
	<td align="left" style="vertical-align: top;" >
		<table cellspacing="0" cellpadding="0" class="arc_11_base_widget_1 arc_129_SearchResultGUI style_14" style="width: 600px; height: 180px;">
			<tbody>
				<tr>
					<td align="left" style="vertical-align: top;">
						<table cellspacing="0" cellpadding="0" class="arc_11_base_widget_1">
							<tbody>
								<tr>
									<td align="left" style="vertical-align: top;">
										<div class="arc_11_base_widget_1 arc_12_SimplePanel" style="width: 160px;"><img src="./cat-list_files/icon.mfjp" class="arc_11_base_widget_1 arc_13_Image style_15"></div>
									</td>
									<td align="left" style="vertical-align: top;">
										<table cellspacing="0" cellpadding="0" class="arc_11_base_widget_1">
											<tbody>
												<tr>
													<td align="left" style="vertical-align: top;">
														<div class="arc_11_base_widget_1  style_16" style="cursor: default;">Abyssinian</div>
													</td>
												</tr>
												<tr>
													<td align="left" style="vertical-align: top;">
														<table cellspacing="0" cellpadding="0" class="arc_11_base_widget_1" style="border: none; outline: none;">
															<tbody>
																<tr>
																	<td>
																		<div class="arc_11_base_widget_1 arc_132_SearchResultGUI_DetailLabel" style="cursor: default;">Origin:</div>
																	</td>
																	<td>
																		<div class="arc_11_base_widget_1 arc_133_SearchResultGUI_DetailValue" style="cursor: default;">Ethiopia</div>
																	</td>
																</tr>
																<tr>
																	<td>
																		<div class="arc_11_base_widget_1 arc_132_SearchResultGUI_DetailLabel" style="cursor: default;">Source:</div>
																	</td>
																	<td>
																		<div class="arc_11_base_widget_1 arc_133_SearchResultGUI_DetailValue" style="cursor: default;">Natural</div>
																	</td>
																</tr>
																<tr>
																	<td>
																		<div class="arc_11_base_widget_1 arc_132_SearchResultGUI_DetailLabel" style="cursor: default;">Body Shape:</div>
																	</td>
																	<td>
																		<div class="arc_11_base_widget_1 arc_133_SearchResultGUI_DetailValue" style="cursor: default;">Unspecified</div>
																	</td>
																</tr>
																<tr>
																	<td>
																		<div class="arc_11_base_widget_1 arc_132_SearchResultGUI_DetailLabel" style="cursor: default;">Coat:</div>
																	</td>
																	<td>
																		<div class="arc_11_base_widget_1 arc_133_SearchResultGUI_DetailValue" style="cursor: default;">Short</div>
																	</td>
																</tr>
																<tr>
																	<td>
																		<div class="arc_11_base_widget_1 arc_132_SearchResultGUI_DetailLabel" style="cursor: default;">Pattern:</div>
																	</td>
																	<td>
																		<div class="arc_11_base_widget_1 arc_133_SearchResultGUI_DetailValue" style="cursor: default;">Ticked</div>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td align="left" style="vertical-align: top;">
						<div class="arc_11_base_widget_1 arc_12_SimplePanel" style="width: 1px; height: 10px;"></div>
					</td>
				</tr>
				<tr>
					<td align="left" style="vertical-align: top;">
						<table cellspacing="0" cellpadding="0" class="arc_11_base_widget_1">
							<tbody>
								<tr>
									<td align="left" style="vertical-align: top;">
										<div class="arc_11_base_widget_1 arc_12_SimplePanel arc_134_SearchResultGUI_DownloadButton" style="text-align: center;">
											<div class="arc_11_base_widget_1 arc_118_Button_ButtonLabel" style="cursor: default;">Download</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>
