<table cellspacing="0" cellpadding="0" class="arc_11_base_widget_1 arc_120_PagingControlGUI" style="height: 30px;">
	<tbody>
		<tr>
			<td align="left" style="vertical-align: middle;">
				<div class="arc_11_base_widget_1 arc_12_SimplePanel arc_121_PagingControlGUI_PagingButton">
					<div class="arc_11_base_widget_1 arc_12_SimplePanel" style="display: inline-block;">
						<div class="arc_11_base_widget_1 fa fa-level-up arc_116_FontAwesomeIcon" style="cursor: default; width: 15px; height: 15px; font-size: 15px; line-height: 15px;"></div>
					</div>
				</div>
			</td>
			<td align="left" style="vertical-align: middle;">
				<div class="arc_11_base_widget_1 arc_12_SimplePanel" style="width: 10px; height: 1px;"></div>
			</td>
			<td align="left" style="vertical-align: middle;">
				<div class="arc_11_base_widget_1 arc_12_SimplePanel arc_121_PagingControlGUI_PagingButton">
					<div class="arc_11_base_widget_1 arc_12_SimplePanel" style="display: inline-block;">
						<div class="arc_11_base_widget_1 fa fa-refresh arc_116_FontAwesomeIcon" style="cursor: default; width: 15px; height: 15px; font-size: 15px; line-height: 15px;"></div>
					</div>
				</div>
			</td>
			<td align="left" style="vertical-align: middle;">
				<div class="arc_11_base_widget_1 arc_12_SimplePanel" style="width: 5px; height: 1px;"></div>
			</td>
			<td align="left" style="vertical-align: middle;">
				<div class="arc_11_base_widget_1 arc_12_SimplePanel arc_123_PagingControlGUI_CurrentPageButton" style="width: 30px; text-align: center;">
					<div class="arc_11_base_widget_1 arc_118_Button_ButtonLabel" style="cursor: default;">1</div>
				</div>
			</td>
			<td align="left" style="vertical-align: middle;">
				<div class="arc_11_base_widget_1 arc_12_SimplePanel" style="width: 2px; height: 1px;"></div>
			</td>
			<td align="left" style="vertical-align: middle;">
				<div class="arc_11_base_widget_1 arc_12_SimplePanel arc_121_PagingControlGUI_PagingButton">
					<div class="arc_11_base_widget_1 arc_12_SimplePanel" style="display: inline-block;">
						<div class="arc_11_base_widget_1 fa fa-arrow-right arc_116_FontAwesomeIcon" style="cursor: default; width: 15px; height: 15px; font-size: 15px; line-height: 15px;"></div>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>
