
<!-- force a width while we're mixing old and new formats -->
<div style="width: 103px"></div>
<div class="mf-sidebar">
	<fieldset class="mf-facet-selector">
		<legend class="mf-facet-title">Format</legend>
		<p class="mf-facet mf-facet-radio">
			<label>
				<input type="radio" name="format"><span>Short Haired</span>
			</label>
		</p>
		<p class="mf-facet mf-facet-radio">
			<label>
				<input type="radio" name="format"><span>Medium Hair</span>
			</label>
		</p>
		<p class="mf-facet mf-facet-radio">
			<label>
				<input type="radio" name="format"><span>Long Haired</span>
			</label>
		</p>
		<p class="mf-facet mf-facet-radio">
			<label>
				<input type="radio" name="format"><span>Hairless</span>
			</label>
		</p>
	</fieldset>
</div>
