
<ul class="mf-page-actions">
	<li class="mf-action mf-action-button">
		<button class="mf-button mf-up-button" title="new item">
			<i class="fa fa-level-up"></i>
		</button>
	</li>
	<li class="mf-action mf-action-button">
		<button class="mf-button mf-refresh-page-button" title="new item">
			<i class="fa fa-refresh"></i>
		</button>
	</li>
	<li class="mf-action mf-action-button">
		<button class="mf-button mf-goto-page-button mf-current-page-button" title="new item">
			1
		</button>
	</li>
	<li class="mf-action mf-action-button">
		<button class="mf-button mf-next-page-button" title="new item">
			<i class="fa fa-arrow-right"></i>
		</button>
	</li>
</ul>
