
////////////////////////////////////////////////////////////////////
// General stuff
////////////////////////////////////////////////////////////////////

// start with helvetica in black on a white page
html {
	font-family: Helvetica, sans-serif;
	color: black;
	background: white;
}

// general class for button-like things
@button-size: 23px;
.mf-button {
	border: 1px solid rgb(150,150,150);
	height: @button-size;
	line-height: @button-size;
	min-width: @button-size;
	border-radius: 4px;
	background: inherit;
	font-family: inherit;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	padding: 0;
}
.mf-button:hover {
	color: rgb(100,149,237);
	border-color: rgb(100,149,237);
}

/* super tiny clearfix */
.mf-list-item:after,
.mf-metadata-properties:after
{
	content: " ";
    display: table;
    clear: both;
}

////////////////////////////////////////////////////////////////////
// Header
////////////////////////////////////////////////////////////////////
@main-heading-color: #ffffff;
@header-height: 100px;
@logo-size: 90px;

.mf-portal-header {
	height: 100px;
}
.mf-portal-logo {
	float: left;
	max-width: @logo-size;
	max-height: @logo-size;
	margin: ((@header-height - @logo-size) / 2) ((@header-height - @logo-size) / 2);
}
.mf-portal-heading {
	margin: 0;
	padding: 0;
	height: 100px;
	padding: 0 20px;
	font-size: 40px;
	line-height: 100px;
	color: @main-heading-color;
	font-weight: inherit;
	text-align: left;
	background-color: rgb(0, 90, 118);
}

////////////////////////////////////////////////////////////////////
// Footer
////////////////////////////////////////////////////////////////////
@footer-color: #ffffff;
@footer-height: 30px;

.mf-portal-footer {
	height: @footer-height;
	color: rgb(204, 222, 227);
	background-color: rgb(0, 90, 118);
	font-size: 15px;
}
.mf-portal-footer p {
	line-height: @footer-height;
	padding: 0;
	margin: 0;
	padding: 0 10px;
}

////////////////////////////////////////////////////////////////////
// Navbar
////////////////////////////////////////////////////////////////////
@nav-bar-color: #ffffff;
@nav-bar-height: 40px;

.mf-portal-navbar {
	margin: 0;
	padding: 0;
	padding-right: 94px;
	height: @nav-bar-height;
	color: @nav-bar-color;
	background-color: rgb(0, 53, 70);
	font-size: 15px;
	font-weight: bold;
}
.mf-nav-list {
	margin: 0;
	padding: 0;
	text-align: right;
}
.mf-nav-item {
	display: inline-block;
	line-height: @nav-bar-height;
	padding: 0 13px;
}
.mf-nav-item a {
	text-decoration: none;
	color: inherit;
}

////////////////////////////////////////////////////////////////////
// Collection Toolbar
////////////////////////////////////////////////////////////////////
@collection-bar-height: 24px;

.mf-collection-bar {
	margin: 0;
	padding: 4px;
	font-size: 20px;
	height: @collection-bar-height;
}
.mf-collection-title {
	float: left;
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-weight: inherit;
	line-height: @collection-bar-height;
}
.mf-collection-actions {
	float: right;
	margin: 0;
	padding: 0;
	text-align: right;
}
.mf-action {
	display: inline-block;
	padding: 0;
	margin: 0;
}
.mf-action i.fa { // make font-awesome icons a bit larger..
	font-size: (@button-size * 0.6);
	line-height: @button-size;
}
.mf-action.mf-action-search {
	.mf-button;
	border-radius: (@collection-bar-height / 2);
	position: relative;
	background: white;
	margin-right: 18px;
}
.mf-action.mf-action-search:before {
	position: absolute;
	left: 7px;
	top: 3px;
	content: url(./cat-list_files/Search.png);
}
.mf-search {
	padding: 0 6px 0 @collection-bar-height;
	margin: 0;
	border: none;
	display: block;
	background: none;
	height: @collection-bar-height;
	width: 220px;
	font-family: inherit;
	font-weight: bold;
	color: rgb(170, 170, 170);
	font-size: 14px;
}


////////////////////////////////////////////////////////////////////
// Paging Toolbar
////////////////////////////////////////////////////////////////////

// reuses the mf-action class from the collection toolbar.
// TODO: clean up that re-use.

@paging-bar-height: 30px;

.mf-page-actions {
	margin: 0;
	padding: 0 4px;
	font-size: 20px;
	height: @paging-bar-height;
}
.mf-button.mf-up-button {
	margin-right: 10px;
}
.mf-button.mf-goto-page-button {
	min-width: (1.5 * @button-size);
	font-family: inherit;
	font-size: 14px;
}
.mf-button.mf-current-page-button {
	border-color: rgb(179,0,0);
}

////////////////////////////////////////////////////////////////////
// Facet Sidebar
////////////////////////////////////////////////////////////////////

.mf-sidebar {
	position: absolute;
////  debug / todo: adjust positioning when working on the broader page layout
//	top: (@header-height + @nav-bar-height + @collection-bar-height);
//	bottom: @footer-height;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100px;
	padding: 4px 8px 0 0;
}

.mf-facet-selector {
	border: 1px solid rgb(204,204,204);
	border-radius: 4px;
	padding: 4px;
}
// legend for the facet selector fieldset
.mf-facet-selector legend {
	float: left;
	font-weight: bold;
	font-size: 12px;
}
.mf-facet-selector legend:after {
	content: ':';
}

.mf-facet {
	clear: left; // coz the legend is float-left
	margin: 0;
	padding: 1px 0 0 0;
	padding-left: 2px;
	font-size: 10px;
}

////////////////////////////////////////////////////////////////////
// Lists and Items
////////////////////////////////////////////////////////////////////
// variables used in lists and items
@item-padding: 5px;
@image-width: 160px;
@image-height: @image-width;

/* - a list of items ---------- */
.mf-list-of-items {
	padding: 0;
	margin: 0;
	margin-left: @item-padding;
	width: 600px;
}

/* -- an item in a list ---------- */

.mf-list-item {
	position: relative;
	display: block;
	list-style: none;
	background: rgba(250,250,250, 1);
	min-height: (@image-height + (4 * @item-padding) + 20px);
	margin: (2 * @item-padding) 0;
	padding: @item-padding;
	padding-left: (@item-padding + @image-width + @item-padding);
	border: 1px solid rgba(150,150,150, 1);
	border-radius: @item-padding;
}

.mf-list-item-thumbnail {
	position: absolute;
	left: @item-padding;
	top: @item-padding;
	max-width: @image-width;
	max-height: @image-height;
	border: 3px solid #000;
}

.mf-list-item-heading {
	padding: 0;
	padding-top: @item-padding;
	margin: 0;
	color: rgba(255,0,255, 1);
	font-size: 20px;
	font-weight: inherit;
}

.mf-metadata-properties {
	margin: @item-padding 0;
	padding: 0;
}
.mf-metadata-properties dt {
	font-weight: bold;
	float: left;
	clear: left;
	min-width: 7em;
}
.mf-metadata-properties dt:after {
	content: ":"
}
.mf-metadata-properties dd {
	margin: 0;
	float: left;
}

.mf-download-asset {
	position: absolute;
	left: @item-padding;
	bottom: @item-padding;
	padding: 2px (2 * @item-padding);
	font-weight: bold;
	font-size: 12px;
	text-shadow: 0 1px 1px white;
	font-family: inherit;
}



